@font-face {
    font-family: 'Vulf Mono';
    src: url('VulfMono-Regular.woff2') format('woff2'),
        url('VulfMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Mono';
    src: url('VulfMono-Regular.woff2') format('woff2'),
        url('VulfMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Mono';
    src: url('VulfMono-Regular.woff2') format('woff2'),
        url('VulfMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

